# Project & IDE
.DS_Store
.cache
.clang-format
.clang-tidy
.idea/

# Sandbox testing and rough plans
sandbox/*
!sandbox/*.s
!sandbox/*.asm
planning/ROADMAP.md

# Build outputs
src/knv/*
!src/knv/*.knv
build/
cmake-build-debug/
